:root {
    --v-btncolor-base: #394B65;
}
.theme--dark.v-application {
    color:#fffc;
    background:#171e2a;
}
.theme--dark.v-app-bar.v-toolbar.v-sheet {
    background-color:#1F2837 !important;
}
.theme--dark.v-toolbar.v-sheet {
    background-color:#171E2A;
}
.theme--dark.v-sheet {
    background-color:#1E2734;
    border-color:#1e2734;
}
.theme--dark.v-card {
    color: #fffc;
    background-color: #1e2734;
}
.theme--dark.v-application .card-heading {
    background-color: #283446 !important;
    border-color: #283446 !important;
}
.theme--dark.v-expansion-panels .v-expansion-panel {
    color:#fffc;
    background-color:#1e2734;
}
.theme--dark.v-navigation-drawer {
    background-color:#283446 !important;
}
.theme--dark.v-navigation-drawer .v-list:not(.v-select-list) {
  background-color:#1E2734 !important;
}
.theme--dark .toolbar-logo[data-v-7e74cac4] {
    background-color: #1F2837;
}
.theme--dark.v-data-table {
    background-color:#1E2734;
}
.theme--dark.v-tabs>.v-tabs-bar {
    background-color:#1e2734;
}
.theme--dark.v-tabs-items {
    background-color: #1E2734;
}
.file-system .theme--dark.v-data-table tr > td.actions div {
    background: #1E2734;
}
.file-system .theme--dark.v-data-table tr > td.actions div::before {
    background: linear-gradient(90deg,#35353900 0%,#1e2734 100%);
}
.v-overlay__scrim {
    background-color: #181f2b !important;
    border-color: #181f2b !important;
}
.theme--dark.bulk-drag {
    background-color:#283446
}
.theme--dark.v-data-table.v-data-table--fixed-header thead th {
    background: #1E2734;
}
.theme--dark.v-small-dialog__menu-content,
.theme--dark.v-small-dialog__actions {
    background:#1E2734;
}
.theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr.active {
    background:#283446;
}
.theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background:#283446;
}
.theme--dark.v-data-table tbody tr.v-data-table__selected {
    background: #171E2A;
}
.theme--dark.v-chip:not(.v-chip--active) {
    background: #394b65;
}

/* ~~~ VSCode Editor Theme ~~~ */

.monaco-editor, .monaco-diff-editor, .monaco-component {
    --vscode-editor-background: #1e2734 !important;
    --vscode-editorInfo-background: #1e2734 !important;
    --vscode-editor-lineHighlightBackground: #394b65 !important;
    --vscode-editor-inactiveLineHighlightBackground: #394b65 !important;
    --vscode-editorGutter-background: #171e2a !important;
    --vscode-editorStickyScroll-background: #1e2734 !important;
    --vscode-editorStickyScrollGutter-background: #171e2a !important;
    --vscode-editorStickyScrollHover-background: #283446 !important;
    --vscode-peekViewEditorStickyScrollGutter-background: #171e2a !important;
    --vscode-editorWidget-background: #171e2a !important;
    --vscode-editorSuggestWidget-background: #171e2a !important;
    --vscode-editorHoverWidget-statusBarBackground: #273546 !important;
    --vscode-editorHoverWidget-background: #171e2a !important;
    --vscode-editorMarkerNavigation-background: #171e2a !important;
    --vscode-editor-selectionBackground: #394b65 !important;
    --vscode-editor-inactiveSelectionBackground: #273546 !important;
    --vscode-editor-findMatchBackground: #394b65 !important;
    --vscode-editorGhostText-background: #171e2a !important;
    --vscode-peekViewTitle-background: #171e2a !important;
    --vscode-peekViewResult-background: #171e2a !important;
    --vscode-scrollbar-background: #171e2a !important;
    --vscode-scrollbarSlider-background: #1e2734 !important;
    --vscode-scrollbarSlider-hoverBackground: #283446 !important;
    --vscode-scrollbarSlider-activeBackground: #394b65 !important;
    --vscode-minimap-background: #171e2a !important;
    --vscode-badge-background: #394b65 !important;
    --vscode-dropdown-background: #171e2a !important;
    --vscode-dropdown-border: #171e2a !important;
    --vscode-quickInput-background: #171e2a !important;
    --vscode-pickerGroup-border: #283446 !important;
    --vscode-quickInputList-focusBackground: #394b65 !important;
    --vscode-input-background: #283446 !important;
    --vscode-list-hoverBackground: #283446 !important;
    --vscode-menu-background: #171e2a !important;
    --vscode-menu-selectionBackground: #394b65 !important;
    --vscode-progressBar-background: #394b65 !important;
    --vscode-sideBar-background: #171e2a !important;
}
.monaco-editor .view-overlays .current-line {
    background-color: var(--vscode-editor-lineHighlightBackground) !important;
}
.monaco-editor .margin {
    background-color:var(--vscode-editorGutter-background) !important
}
